# Caddy v2 CaddyFile, update from rothgar by paulasquin

# Website #1. Replace domain.com with your website url and comment :80 to use SSL certificates
# domain.com {
:80 {
	# Provide path and encoding for website
	root www
	encode gzip
	
	# Enable tls if you're using DDNS and have ports 443 and 80 forwarded on your router
	# Load certifications for your website
	# tls /cert/live/{$DOMAIN_NAME}/fullchain.pem /cert/live/{$DOMAIN_NAME}/privkey.pem
  	
  	# Use php container for php files
	php_fastcgi php:9000
	file_server

}

# Website #2
# yourwebsite_2.com {
# 	# Provide path and encoding for website
# 	root www
# 	encode gzip
# 	
# 	tls /cert/live/${DOMAIN_NAME_2}/fullchain.pem /cert/live/${DOMAIN_NAME_2}/privkey.pem
#   	
#   # Use php container for php files. Update port
# 	php_fastcgi php:9001
# 	file_server
# 
# }

